 
/* Css For Destin */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header
5. Main Slider 
6. About Section
7. Intro Section
9. Destin Highlight
8. Destin Details
10. Destin Feature
11. Gallery Section
12. Room Dimensions
14. Our Agent
15. Testimonial Section
16. News Section
19. Main Footer
20. Footer Bottom
21. Page Title
22. Tour Page
23. Video Tour
24. Faq Page
25. Faq Section
26. Error Page
27. Error Section
28. Service Page
29. Tour Page
30. Video Tour
31. Faq Page
32. Faq Sidebar
33. Faq Content
34. Error Section
35. About Page
36. Who We Are
37. Fact Counter
38. Gallery Section
39. Gallery Fluid
40. Blog Grid
41. Blog Standard
42. Blog Standard Content
43. Blog Sidebar Content
44. Blog Details
45. Blog Details Content
46. Contact Page
47. Google Map
48. Social Area
49. Contact Section


**********************************************/


/* use font link */



@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


/* use style sheet */

@import url(font-awesome.css);
@import url(flaticon.css);
@import url(owl.css);
@import url(bootstrap.css);
@import url(jquery.fancybox.css);
@import url(animate.css);




/*** 

====================================================================
  Reset
====================================================================

 ***/
* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
}


/*** 

====================================================================
  Global Settings
====================================================================

 ***/


body {
  font-size:15px;
  color:#888888;
  line-height:24px;
  font-weight:300;
  background:#ffffff;
  font-family: 'Montserrat', sans-serif;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center top;
  -webkit-font-smoothing: antialiased;
}

  @media (min-width:1200px) {
  .container {
    max-width: 1170px;
    padding: 0px;
  }
}

.container-fluid{
  padding: 0px;
}
.auto-container{
  position:static;
  max-width:1200px;
  padding:0px 15px;
  margin:0 auto;
}

.small-container{
  max-width:680px;
  margin:0 auto;
}

.boxed_wrapper{
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
}


a{
  text-decoration:none;
  position: relative;
  font-size: 15px;
  font-family: 'Montserrat',sans-serif;
  line-height: 24px;
  font-weight: 300;
  cursor:pointer;
  color:#888888;
  transition: all 500ms ease;
}

a:hover{
  text-decoration:none;
  outline:none;
  color: #71b100;
  transition: all 500ms ease;
}

input,button,select,textarea{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

ul,li{
  list-style:none;
  padding:0px;
  margin:0px; 
}

input{
  transition: all 500ms ease;
}
button:focus,
input:focus,
textarea:focus{
  outline: none;
  box-shadow: none;
  transition: all 500ms ease;
}

p{
  position: relative;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
  font-weight: 300;
  color: #888888;
  margin-bottom: 10px;
  font-style: normal;
  transition: all 500ms ease;
}

h1,h2,h3,h4,h5,h6 {
  position:relative;
  font-family: 'Montserrat', Sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
  color: #222222;
  text-transform: uppercase;
  transition: all 500ms ease;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  position:relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
  color: #222222;
  transition: all 500ms ease;
}

h1{
  font-size: 60px;
  line-height: 75px;
  font-weight: 700;
}

h2{
  font-size: 30px;
  line-height: 40px;
}
h3{
  font-size: 24px;
  line-height: 32px;
}
h4{
  font-size: 18px;
  line-height: 28px;
}
h5{
  font-size: 18px;
  line-height: 26px;
}
h6{
  font-size: 16px;
  line-height: 26px;
}


h2 a{
  font-size: 30px;
  line-height: 40px;
}

h3 a{
  font-size: 24px;
  line-height: 33px;
}
h4 a{
  font-size: 18px;
  line-height: 28px;
}


h3 a:hover,
h4 a:hover{
  color: #71b100;
}

.centred{
  text-align: center;
}
.sec-pad{
  padding: 92px 0px 100px 0px;
}


h2.sec-title{
  position: relative;
  margin-bottom: 5px;
  line-height: 37px;
}
.title-text{
  margin-bottom: 34px;
}
figure{
  margin: 0px;
}


/** button **/

.theme-btn {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 6px 24px 4px 24px;
  background: #71b100;
  line-height: 24px;
  border: 2px solid #71b100;
  color: #ffffff;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  text-align: center;
  z-index: 1;
}
.theme-btn:hover{
  color: #71b100;
  background: transparent;
}


.pagination{
  position: relative;
  display: block;
  margin-top: 10px;
  float: right;
}
.pagination li{
  display: inline-block;
  margin: 0px 0px;
}
.pagination li a{
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 28px;
  width: 22px;
  line-height: 28px;
  text-align: center;
  color: #222222;
  transition: all 500ms ease;
}
.pagination li a:hover,
.pagination li a.active{
  background: #71b100;
  color: #ffffff;
}
.pagination li i:before{
  color: #71b100;
  transition: all 500ms ease;
}
.pagination li a:hover i:before{
  color: #ffffff;
}

.preloader{
  position: fixed; 
  left:0px;
  top:0px;
  height:100%;
  width: 100%;
  z-index:999999;
  background-color:#ffffff;
  background-position:center center;
  background-repeat:no-repeat;
  background-image:url(../images/icons/preloader.gif);
}

.scroll-top {
  width: 45px;
  height: 45px;
  line-height: 45px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 16px;
  border-radius: 50%;
  z-index: 99;
  display: none;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background: #71b100;
  transition: all 500ms ease;
  -webkit-animation: pulse 1s infinite;
  -o-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}
.scroll-top:hover{
  background: #222222;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}
.scroll-top span{
  color: #fff;
}



/*** 

====================================================================
                        Home-Page-One
====================================================================

***/


/** main-header **/

.main-header{
  position:relative;
  left:0px;
  top:0px;
  z-index:999;
  width:100%;
  background: transparent;
  margin-bottom: -149px;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.main-header .header-content{
  position: relative;
  background: #71b100;
  padding: 0px 50px 0px 31px;
  margin-top: 64px;
}
.sticky-header{
  position:fixed;
  opacity:0;
  visibility:hidden;
  left:0px;
  top:0px;
  width:100%;
  background:#71b100;
  z-index:0;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.40);
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.fixed-header .sticky-header{
  z-index:999;
  opacity:1;
  visibility:visible;
  -ms-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -op-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -op-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.main-header .logo-box{
  position: relative;
  display: inline-block;
  margin-top: 17px;
}
.main-header .logo-box img{
  width: 100%;
}
.main-header .logo-box a{
  position: relative;display: inline-block;
}


/** main-menu **/

.main-menu{
  position: relative;
  margin-left: 70px;
}
.main-menu .navbar-collapse{
  padding:0px;  
}

.main-menu .navigation{
  position:relative;
  margin:0px;
}

.main-menu .navigation > li{
  position:relative;
  float:left;
  margin: 0px 18px;
}
.main-menu .navigation > li > a{
  position:relative;
  display:block;
  font-size:16px;
  font-family: 'Montserrat', sans-serif;
  color:#ffffff;
  line-height:30px;
  font-weight:600;
  opacity:1;
  text-transform:uppercase;
  padding: 28px 10px 27px 10px;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li:hover > a:after{
  opacity:1;
}

.main-menu .navigation > li > ul{
  position:absolute;
  left:0px;
  top: 100%;
  width:250px;
  z-index:100;
  display:none;
  background:#ffffff;
  border-bottom: 3px solid #71b100;
}

.main-menu .navigation > li > ul > li{
  position:relative;
  width:100%;
  padding: 7px 30px;
  border-bottom: 1px solid #71b100;
  transition: all 500ms ease;
}

.main-menu .navigation > li > ul > li:last-child{
  border-bottom:none; 
}

.main-menu .navigation > li > ul > li > a{
  position:relative;
  display:block;
  font-family: 'Montserrat', sans-serif;
  padding:6px 0px;
  line-height:24px;
  font-size:15px;
  color:#232323;
  font-weight: 600;
  text-align:left;
  text-transform:capitalize;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.main-menu .navigation > li > ul > li:hover > a{
  color: #fff;
}
.main-menu .navigation > li > ul > li:hover{
  background: #71b100;
}

.main-menu .navigation > li.dropdown:hover > ul{
  visibility:visible;
  opacity:1;
}
.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
  position:absolute;
  right: 0px;
  top: 0px;
  font-size:18px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  color:#ffffff;
  width: 50px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  cursor:pointer;
  z-index:5;
  display: none;
}
.navbar-header {
  display: none;
}

/** stricky-header **/

.sticky-header .header-content{
  margin-top: 0px;
  border-bottom: 0px;
  background: transparent;
}
.sticky-header .main-menu .navigation > li{
  margin: 0px;
}
.sticky-header .main-menu .navigation > li > a{
  padding: 24px 30px 26px 30px;
}
.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li:hover > a{
  background: #ffffff;
  color: #71b100;
}
.sticky-header .main-menu{
  margin-left: 40px;
}
.main-header .small-logo-box{
  margin-top: 18px;
}


/** main slider **/

.main-slider {
  min-height: 100%;
}
.main-slider .container-fluid {
  padding: 0px;
}
.main-slider .slider-wrapper {
  position: relative;
}
.main-slider .slider-wrapper .image img {
  min-height: 850px;
  width: 100%;
  max-width: none;
}
.main-slider .slider-caption {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.main-slider .slider-caption .inner-box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.main-slider .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 3;
}
.main-slider .slider-content .title{
  position: relative;
  display: block;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  line-height: 33px;
  font-weight: 600;
  color: #71b100;
  text-transform: uppercase;
}
.main-slider .slider-content .text{
  position: relative;
  display: block;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  line-height: 23px;
  margin-bottom: 32px;
}
.main-slider .slider-content .list li{
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #71b100;
  line-height: 26px;
  text-align: center !important;
  margin: 0px 4px;
}
.main-slider .slider-content .list span{
  position: relative;
  display: block;
  font-size: 16px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  line-height: 26px;
  margin-top: 9px;
}

.main-slider .slider-content .price{
  position: relative;
  display: inline-block;
  font-size: 48px;
  line-height: 55px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-weight: 600;
  margin-top: 27px;
  -webkit-animation: pulse 2s infinite;
  -o-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}
.main-slider .slider-content .link{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.main-slider .slider-content a{
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background: #71b100;
  padding: 14px 15px 14px 15px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 26px;
  transition: all 500ms ease !important;
}
.main-slider .slider-content a:hover{
  background: #000000;
}
.main-slider .slider-content{
  position: relative;
  display: inline-block;
  padding: 50px 70px 48px 40px;
  background: rgb(0, 0, 0, 0.6);
  margin-top: 148px;
}

/* slide nav */

.slide-nav .owl-nav {
  padding: 0px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  transform: scale(0.97);
  transition: .5s ease;
}
.slide-nav:hover .owl-nav {
  transform: scale(1);
  opacity: 1;
}
.slide-nav .owl-controls .owl-nav [class*="owl-"] {
  background: rgba(255, 255, 255, 0.50);
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  transition: all 500ms ease;
}
.slide-nav .carousel-outer:hover .owl-nav .owl-next,
.slide-nav .carousel-outer:hover .owl-nav .owl-prev {
  opacity: 1;
  visibility: visible;
}
.slide-nav .owl-nav .owl-prev {
  left: 50px;
  float:  left;
}
.slide-nav .owl-nav .owl-next {
  right: 50px;
  float:  right;
}

.slide-nav .owl-dots{
  display: none !important;
}

/* slide animation */
.main-slider .owl-item .slider-caption * {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.main-slider .owl-item.active .slider-caption .slider-content {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


/** about-section **/


.about-section{
  position: relative;
  padding: 100px 0px 32px 0px;
}
.about-section .img-box{
  position: relative;
  padding: 37px 0px 41px 0px;
  margin-right: 50px;
  margin-left: 70px;
}
.about-section .img-box:before{
  position: absolute;
  content: '';
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  left: -70px;
  top: 0px;
  z-index: -1;
}
.about-section .img-box img{
  width: 100%;
}
.about-section .about-content{
  position: relative;
  padding: 102px 0px 85px 0px;
}
.about-section .about-content h2{
  margin-bottom: 9px;
}


/** intro-section **/

.intro-section{
  position: relative;
  padding: 0px 0px 100px 0px;
}
.intro-section .intro-content .single-item{
  position: relative;
  display: inline-block;
  float: left;
  width: 20%;
  transition: all 500ms ease;
}
.intro-section .intro-content .single-item .content-box{
  position: relative;
  display: inline-block;
  padding: 32px 0px 12px 0px;
  width: 170px;
  text-align: center;
  border-bottom: 1px solid #f7f7f7;
  transition: all 500ms ease;
}
.intro-section .intro-content .single-item .content-box:hover{
  background: #f7f7f7;
}
.intro-section .intro-content .single-item .icon-box{
  margin-bottom: 21px;
}
.intro-section .intro-content .single-item .icon-box i:before{
  font-size: 46px;
  color: #71b100;
  margin: 0px;
}
.intro-section .intro-content .single-item .text{
  position: relative;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 11px;
}
.intro-section .intro-content .single-item .number{
  position: relative;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #454035;
}


/** property-highlight **/


.property-highlight{
  position: relative;
  background: #f7f7f7;
}
.property-highlight .img-box{
  position: relative;
  float: left;
  max-width: 100%;
}
.property-highlight .highlight-content{
  padding: 97px 0px 76px 0px;
}
.property-highlight .highlight-content h3{
  margin-bottom: 6px;
}
.property-highlight .highlight-content .top-text{
  margin-bottom: 18px;
}
.property-highlight .highlight-content .content-box h4 a{
  display: inline-block;
  color: #71b100;
  margin-bottom: 7px;
}
.property-highlight .highlight-content .content-box h4 a:hover{
  color: #222222;
}
.property-highlight .highlight-content .content-box .single-item{
  margin-bottom: 28px;
}


/** destin-details **/


.destin-details{
  padding-top: 92px;
}
.destin-details .tab-title{
  margin-bottom: 60px;
}
.destin-details .tab-title li{
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #71b100;
  font-weight: 600;
  padding: 12px 22px 12px 22px;
  text-align: center;
  background: #f7f7f7;
  text-transform: uppercase;
  margin-right: 32px;
  cursor: pointer;
  transition: all 500ms ease;
}
.destin-details .tab-title li.active{
  background: #71b100;
  color: #ffffff;
}
.destin-details .tab-title li:last-child{
  margin-right: 0px;
}
.destin-details .tab-content{
  position: relative;
  background: #f7f7f7;
}
.destin-details .tab-content .img-box img{
  width: 100%;
}
.destin-details .tab-content .content-box h4{
  color: #71b100;
  margin-bottom: 6px;
}
.destin-details .tab-content .content-box .text{
  color: #222222;
  margin-bottom: 29px;
}
.destin-details .tab-content .content-box{
  position: relative;
  padding: 87px 50px 77px 35px;
}
.destin-details .tab-content .content-box .list li{
  position: relative;
  display: inline-block;
  width: 32%;
  margin-bottom: 16px;
  padding: 0px 0px 0px 25px;
}
.destin-details .tab-content .content-box .list li:before{
  position: absolute;
  content: "\f00c";
  font-size: 16px;
  font-family: 'FontAwesome';
  color: #71b100;
  left: 0px;
  top: 0px;
}

/** features-section **/

.features-section{
  position: relative;
  padding: 92px 0px 70px 0px;
}
.features-section .single-item{
  position: relative;
  padding: 0px 0px 0px 70px;
  margin-bottom: 27px;
}
.features-section .single-item .icon-box{
  position: absolute;
  left: 0px;
  top: 14px;
}
.features-section .single-item .icon-box i:before{
  font-size: 40px;
  color: #000000;
  margin: 0px;
  transition: all 500ms ease;
}
.features-section .single-item:hover .icon-box i:before{
  color: #71b100;
}
.features-section .single-item h4,
.features-section .single-item h4 a{
  line-height: 26px;
}
.features-section .title-text{
  margin-bottom: 50px;
}


/** gallery-section **/


.gallery-section{
  position: relative;
  padding-bottom: 70px;
  background: #f7f7f7;
}
.gallery-section .title-text{
  margin-bottom: 29px;
}
.gallery-section .single-item{
  position: relative;
  margin-bottom: 30px;
}
.gallery-section .overlay-box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: 30px solid transparent;
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: all 700ms ease;
  -webkit-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
}

.gallery-section .single-item:hover .overlay-box {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.gallery-section .overlay-inner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: table;
  padding: 15px;
  vertical-align: middle;
  background: rgba(113, 177, 0, 0.70);
}
.gallery-section .overlay-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.gallery-section .overlay-content h4 a{
  display: inline-block;
  color: #ffffff;
  margin-bottom: 15px;
}
.gallery-section .single-item img{
  width: 100%;
}
.gallery-section .filter-tabs{
  margin-bottom: 23px;
}
.gallery-section .filter-tabs li{
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px 13px;
  cursor: pointer;
  transition: all 500ms ease;
}
.gallery-section .filter-tabs li.active{
  color: #71b100;
}
.gallery-section .filter-tabs li.active:before {
  position: absolute;
  content: '';
  background: #71b100;
  width: 100%;
  height: 1px;
  left: 0px;
  bottom: -3px;
}
.gallery-section .overlay-content .list li{
  display: inline-block;
  margin: 0px 3px;
}
.gallery-section .overlay-content .list li a{
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #71b100;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  transition: all 500ms ease;
}
.gallery-section .overlay-content .list li a:hover{
  background: #000000;
  color: #ffffff;
}


/** droom-dimensions **/


.room-dimensions{
  position: relative;
  padding: 92px 0px;
}
.room-dimensions .tab-content .img-box{
  position: relative;
  padding: 34px 0px 37px 0px;
  margin-left: 39px;
}
.room-dimensions .tab-content .img-box:before {
  position: absolute;
  content: '';
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  left: -39px;
  top: 0px;
  z-index: -1;
}
.room-dimensions .tab-content .img-box img{
  width: 100%;
}
.room-dimensions .custom-tab-title-one{
  margin-bottom: 56px;
}
.room-dimensions .tab-title li{
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #222222;
  cursor: pointer;
  margin: 0px 17px;
}
.room-dimensions .tab-title li.active{
  color: #71b100;
}
.room-dimensions .content-box{
  position: relative;
  padding: 88px 0px 77px 0px;
}
.room-dimensions .tab-content .content-box h4{
  color: #71b100;
  margin-bottom: 6px;
}
.room-dimensions .tab-content .content-box .text{
  color: #222222;
  margin-bottom: 29px;
}
.room-dimensions .tab-content .content-box .list li{
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
  width: 32%;
  padding: 0px 0px 0px 25px;
}
.room-dimensions .tab-content .content-box .list li:before{
  position: absolute;
  content: "\f00c";
  font-size: 16px;
  font-family: 'FontAwesome';
  color: #71b100;
  left: 0px;
  top: 0px;
}
.room-dimensions .title-text{
  margin-bottom: 30px;
}

/** our-agent **/


.our-agent{
  padding-bottom: 100px;
}
.our-agent .single-item{
  position: relative;
  overflow: hidden;
}
.our-agent .single-item .agent-social{
  position: absolute;
  top: 0px;
  right: -37px;
  z-index: 1;
  transition: all 500ms ease;
}
.our-agent .single-item:hover .agent-social{
  right: 0px;
}
.our-agent .single-item .agent-social li{
  position: relative;
  margin-bottom: 10px;
}
.our-agent .single-item .agent-social li a{
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  background: #71b100;
  width: 37px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  transition: all 500ms ease;
}
.our-agent .single-item .agent-social li a:hover{
  background: #000000;
}
.our-agent .single-item .img-box{
  position: relative;
  overflow: hidden;
  background: #f7f7f7;
}
.our-agent .single-item .img-box img{
  width: 100%;
  transition: all 500ms ease;
  transform: scale(1.0);
}
.our-agent .single-item:hover .img-box img{
  transform: scale(1.1);
}
.our-agent .single-item .lower-content{
  padding: 12px 0px 9px 0px;
  border: 1px solid #f7f7f7;
  border-top: none;
  background: transparent;
  transition: all 500ms ease;
}
.our-agent .single-item:hover .lower-content{
  background: #71b100;
}
.our-agent .single-item .lower-content h4 a{
  display: block;
  margin-bottom: -5px;
}
.our-agent .single-item .lower-content .text{
  font-size: 14px;
  font-weight: 300;
  transition: all 500ms ease;
}
.our-agent .single-item:hover .lower-content h4 a,
.our-agent .single-item:hover .lower-content .text{
  color: #ffffff;
}
.our-agent .title-text{
  margin-bottom: 56px;
}


/** testimonial-section**/

.testimonial-section{
  position: relative;
  padding-bottom: 95px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.testimonial-section:before{
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.testimonial-section h2.sec-title,
.testimonial-section .title-text{
  position: relative;
  color: #ffffff;
}
.testimonial-section .testimonial-content .author-thumb{
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 97px;
  height: 97px;
  margin-bottom: 7px;
  border-radius: 50%;
}
.testimonial-section .testimonial-content .author-thumb img{
  width: 100%;
  border-radius: 50%;
}
.testimonial-section .testimonial-content .author-info{
  margin-bottom: 15px;
}
.testimonial-section .testimonial-content .author-info h4{
  color: #ffffff;
  text-transform: capitalize;
}
.testimonial-section .testimonial-content .text{
  font-size: 14px;
  color: #ffffff;
}
.testimonial-section .owl-nav{
  display: none;
}
.testimonial-section .title-text{
  margin-bottom: 56px;
}
.testimonial-section .owl-dots{
  display: inline-block;
  margin-top: 17px;
}


/** news-section **/

.news-section{
  position: relative;
  padding-bottom: 73px;
}
.news-section .news-content .img-box{
  position: relative;
  overflow: hidden;
}
.news-section .news-content .img-box img{
  width: 100%;
  transition: all 500ms ease;
  transform: scale(1.0);
}
.news-section .news-content:hover .img-box img{
  transform: scale(1.1);
}
.news-section .news-content .lower-content{
  position: relative;
  padding: 13px 0px 25px 0px;
}
.news-section .news-content .lower-content h4 a{
  display: inline-block;
  margin-bottom: 7px;
}
.news-section .news-content .lower-content:before{
  position: absolute;
  content: '';
  border-bottom: 1px solid #71b100;
  left: 50%;
  margin-left: -25px;
  bottom: 0px;
  width: 0%;
  height: 1px;
  transition: all 500ms ease;
}
.news-section .news-content:hover .lower-content:before{
  left: 0%;
  margin-left: 0px;
  width: 100%;
}
.news-section .news-content .lower-content .date{
  position: absolute;
  left: 0px;
  top: -40px;
  background: #71b100;
  color: #ffffff;
  width: 76px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.news-section .title-text{
  margin-bottom: 56px;
}

/** main-footer **/


.main-footer{
  position: relative;
  padding: 91px 0px 89px 0px;
  background: #f6f6f6;
}
.main-footer .footer-title{
  margin-bottom: 32px;
}
.main-footer .about-widget .text{
  font-size: 14px;
  margin-bottom: 27px;
}
.main-footer .about-widget .contact-info .single-item .text{
  margin-bottom: 0px;
  line-height: 28px;
}
.main-footer .about-widget .contact-info .single-item .text span{
  font-weight: 600;
}
.main-footer .about-widget .contact-info .single-item{
  position: relative;
  padding: 0px 0px 0px 20px;
  margin-bottom: 3px;
}
.main-footer .about-widget .contact-info .single-item .icon-box{
  position: absolute;
  left: 0px;
  top: 2px;
}
.main-footer .footer-post .single-post{
  position: relative;
  margin-bottom: 26px;
}
.main-footer .footer-post .single-post .time{
  font-size: 13px;
  color: #71b100;
  font-style: italic;
  margin-bottom: 1px;
}
.main-footer .footer-post .single-post .text a{
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  color: #888888;
}
.main-footer .footer-post .single-post .text a:hover{
  color: #71b100;
}
.main-footer .footer-post .footer-title{
  margin-bottom: 25px;
}
.main-footer .link-widget{
  margin-left: 70px;
}
.main-footer .link-widget li{
  position: relative;
  padding: 0px 0px 0px 26px;
  margin-bottom: 18px;
}
.main-footer .link-widget li:before{
  position: absolute;
  content: "\f0a9";
  font-size: 13px;
  font-family: 'FontAwesome';
  color: #888888;
  left: 0px;
  top: 1px;
}
.main-footer .link-widget li a{
  position: relative;
  font-size: 14px;
}
.main-footer .link-widget .footer-title{
  margin-bottom: 26px;
}
.form-group{
  position: relative;
  margin: 0px;
}
.main-footer .subscribe-form i{
  position: absolute;
  top: 6px;
  right: 20px;
  z-index: 1;
}
.main-footer .subscribe-form input[type='text'],
.main-footer .subscribe-form input[type='email']{
  position: relative;
  width: 100%;
  height: 35px;
  margin-bottom: 28px;
  padding: 6px 40px 6px 15px;
  background: #ffffff;
  font-style: italic;
  border-radius: 5px;
  border: 1px solid #ffffff;
  transition: all 500ms ease;
}
.main-footer .subscribe-form input[type='text']:focus,
.main-footer .subscribe-form input[type='email']:focus{
  border: 1px solid #71b100;
}
.main-footer .subscribe-form button{
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  background: #71b100;
  border: 1px solid #71b100;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px 4px 15px;
  margin-top: 7px;
  cursor: pointer;
  transition: all 500ms ease;
}
.main-footer .subscribe-form button:hover{
  background: transparent;
  color: #71b100;
}
.main-footer .subscribe-form{
  margin-bottom: 46px;
}
.main-footer .subscribe-widget .footer-title{
  margin-bottom: 37px;
}
.main-footer .subscribe-widget .footer-social{
  position: relative;
}
.main-footer .subscribe-widget .footer-social li{
  display: inline-block;
  margin-right: 6px;
}
.main-footer .subscribe-widget .footer-social li a{
  position: relative;
  display: inline-block;
  font-size: 13px;
  width: 41px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  background: #dedede;
  color: #777777;
  border-radius: 50%;
  transition: all 500ms ease;
}
.main-footer .subscribe-widget .footer-social li a:hover{
  background: #71b100;
  color: #ffffff;
}

/** footer-bottom **/

.footer-bottom{
  position: relative;
  padding: 17px 0px 19px 0px;
  background: #e9e9e9;
  color: #777777;
  font-size: 14px;
} 
.footer-bottom .copyright a{
  font-size: 14px;
  color: #777777;
}
.footer-bottom .copyright a:hover{
  color: #71b100;
}


/*** 

====================================================================
                        Service-Page
====================================================================

***/

.page-title{
  position: relative;
  padding: 331px 0px 0px 0px;
}
.page-title .content-box{
  position: relative;
  display: inline-block;
  background: #71b100;
  padding: 27px 46px 26px 46px;
  top: 48px;
  box-shadow: 0 5px 20px 5px rgba(214, 214, 214, 0.50);
  z-index: 1;
}
.page-title .content-box h2{
  color: #ffffff;
}
.destin-style-two{
  padding: 140px 0px 100px 0px;
}
.room-style-two{
  padding-top: 0px;
}
.features-style-two{
  padding-bottom: 61px;
}


/*** 

====================================================================
                        Tour-Page
====================================================================

***/

.video-gallery {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.video-gallery img {
  width: 100%;
}
.video-gallery .overlay-gallery {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 500ms ease;
}
.video-gallery .overlay-gallery .icon-holder{
  display: table;
  height: 100%;
  width: 100%;    
}
.video-gallery .overlay-gallery .icon-holder .icon{
  display: table-cell;
  vertical-align: middle;    
}
.video-gallery .overlay-gallery .icon-holder .icon a{
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 90px;
  color: #71b100;
  transform: scale(1.0);
  transition: all 0.5s ease 0s;
}
.video-gallery .overlay-gallery .icon-holder .icon a:hover{
  transform: scale(1.1);
}
.video-tour .owl-dots{
  display: none !important;
}
.video-tour{
  position: relative;
  background: #f7f7f7;
}
.video-tour .owl-theme .owl-controls .owl-nav .owl-prev{
  position: absolute;
  top: 35%;
  left: 0px;
}
.video-tour .owl-theme .owl-controls .owl-nav .owl-next{
  position: absolute;
  top: 35%;
  right: 0px;
}
.video-tour .single-item .img-box img{
  width: 100%;
}
.video-tour .title-text{
  margin-bottom: 56px;
}


/*** 

====================================================================
                        Faq-Page
====================================================================

***/


.faq-section{
  position: relative;
  padding: 148px 0px 90px 0px;
}
.faq-section .faq-sidebar .categories-list{
  position: relative;
  margin-bottom: 46px;
}
.faq-section .faq-sidebar .categories-list li{
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.faq-section .faq-sidebar .categories-list li a{
  position: relative;
  display: block;
  background: #f4f4f4;
  padding: 6px 20px 9px 20px;
}
.faq-section .faq-sidebar .categories-list li a:before{
  position: absolute;
  content: "\f105";
  font-family: 'FontAwesome';
  font-size: 16px;
  color: #222222;
  top: 7px;
  right: 10px;
  transition: all 500ms ease;
}
.faq-section .faq-sidebar .categories-list li a:hover:before{
  color: #ffffff;
}
.faq-section .faq-sidebar .categories-list li a:hover{
  color: #ffffff;
  background: #71b100;
}
.faq-section .faq-sidebar .download-file li{
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.faq-section .faq-sidebar .download-file li a{
  position: relative;
  display: block;
  color: #71b100;
  padding: 11px 20px 13px 20px;
  border: 1px solid #f7f7f7;
}
.faq-section .faq-sidebar .download-file li a:hover{
  color: #ffffff;
  background: #71b100;
  border: 1px solid #71b100;
}
.faq-section .faq-sidebar .download-file li a:before{
  position: absolute;
  content: "\f019";
  font-family: 'FontAwesome';
  font-size: 20px;
  color: #71b100;
  top: 15px;
  right: 9px;
  transition: all 500ms ease;
}
.faq-section .faq-sidebar .download-file li a:hover:before{
  color: #ffffff;
}
.faq-section .faq-sidebar .download-file li i:before{
  font-size: 25px;
  margin-right: 19px;
}

/** accrodian box **/


.accordion {
  position: relative;
  margin-bottom: 10px;
}
.accordion .acc-btn{
  position: relative;
}
.accordion .acc-btn .toggle-icon {
  position: absolute;
  right: 17px;
  top: 9px;
  cursor: pointer;
}
.accordion .acc-btn .toggle-icon span:before{
  font-size: 16px;
  color: #676767;
  transition: all 500ms ease;
}
.accordion .acc-btn .toggle-icon span.fa-plus{
  position: relative;
  left: 6px;
}
.accordion .acc-btn .toggle-icon span.fa-minus{
  position: relative;
  left: -6px;
}
.accordion-box .accordion .acc-btn.active .toggle-icon .minus{
  position: absolute;
  right: 12px;
}
.accordion-box .accordion .acc-btn.active .toggle-icon .plus {
  opacity: 0;
}
.accordion-box .accordion .acc-btn .toggle-icon .minus{
  opacity: 0;
}
.accordion-box .accordion .acc-btn.active .toggle-icon .minus {
  opacity: 1;
}
.accordion-box .accordion .acc-content {
  display: none;
  padding: 15px 15px 7px 20px;
}
.accordion-box .accordion .acc-content.collapsed {
  display: block;
}
.accordion-box .accordion .acc-btn .title{
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 4px 5px 0px #e1e1e1;
  color: #222222;
  background: #f7f7f7;
  padding: 5px 60px 10px 20px;;
  cursor: pointer;
  transition: all 500ms ease;
}
.accordion-box .accordion .acc-content p{
  margin-bottom: 0px;
}
.faq-section .faq-content .top-content h4{
  margin-bottom: 11px;
}
.faq-section .faq-content .top-content{
  margin-bottom: 25px;
}
.faq-section .faq-content{
  margin-top: -7px;
}
.faq-section .faq-sidebar{
  margin-bottom: 72px;
}


/*** 

====================================================================
                        Error-Page
====================================================================

***/

.error-section{
  position: relative;
  padding: 129px 0px 95px 0px;
}
.error-section .error-title{
  position: relative;
  display: block;
  font-size: 300px;
  line-height: 250px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #71b100;
  margin-bottom: 30px;
}
.error-section .error-text{
  position: relative;
  display: block;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  line-height: 65px;
  color: #888888;
  margin-bottom: 22px;
}
.error-section .text,
.error-section .text a{
  position: relative;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  font-weight: 500;
  line-height: 26px;
}
.error-section .text a{
  color: #71b100;
}
.error-section .text a:hover{
  color: #222222;
}


/*** 

====================================================================
                        About-Page
====================================================================

***/

/** who-we-are **/


.who-we-are{
  position: relative;
  padding: 140px 0px 82px 0px;
}
.who-we-are h2.sec-title{
  margin-bottom: 16px;
}
.who-we-are .title-text{
  margin-bottom: 56px;
}
.who-we-are .img-box{
  position: relative;
  overflow: hidden;
}
.who-we-are .img-box img{
  width: 100%;
  transition: all 500ms ease;
  transform: scale(1.0);
}
.who-we-are .single-item:hover .img-box img{
  transform:scale(1.1);
}
.who-we-are .single-item .lower-content{
  position: relative;
  padding: 23px 0px 15px 0px;
}
.who-we-are .single-item .lower-content h4 a{
  display: inline-block;
  color: #71b100;
  margin-bottom: 5px;
}
.who-we-are .single-item .lower-content h4 a:hover{
  color: #222222;
}
.who-we-are .single-item .lower-content:before {
  position: absolute;
  content: '';
  border-bottom: 1px solid #71b100;
  left: 50%;
  bottom: 0px;
  width: 0%;
  height: 1px;
  transition: all 500ms ease;
}
.who-we-are .single-item:hover .lower-content:before{
  width: 100%;
  left: 0%;
}

/** fact-counter **/

.fact-counter{
  position: relative;
  padding: 100px 0px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fact-counter:before{
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.42);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.single-counter-content{
  position: relative;
  display: block;
  background: rgba(113, 177, 0, 0.60);
  padding: 24px 36px 25px 38px;
}
.single-counter-content .count-outer span{
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 39px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 19px;
}
.single-counter-content .text{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #ffffff;
}
.single-counter-content .content-box{
  position: relative;
  display: block;
  background: rgba(113, 177, 0, 0.60);
  padding: 25px 0px 24px 0px;
  transition: all 500ms ease;
}
.single-counter-content:hover .content-box{
  background: #71b100;
}


/*** 

====================================================================
                        Gallery-Page
====================================================================

***/


.gallery-page{
  padding: 140px 0px 70px 0px;
  background: transparent;
}
.gallery-fluid{
  padding-bottom: 100px;
}
.gallery-fluid .default-portfolio-item{
  padding: 0px;
  position: relative;
}
.gallery-fluid .single-item{
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0px;
}
.gallery-fluid .filter-tabs li a{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #888888;
}
.gallery-fluid h2.sec-title{
  margin-bottom: 6px;
}
.gallery-fluid .title-text{
  margin-bottom: 30px;
}


/*** 

====================================================================
                        Blog-Page
====================================================================

***/


.blog-grid{
  padding: 140px 0px 100px 0px;
}
.blog-grid .link{
  position: relative;
  margin-top: 31px;
}
.blog-grid .link a{
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #71b100;
  font-weight: 500;
  text-transform: uppercase;
  background: #f7f7f7;
  padding: 12px 23px 11px 23px;
  transition: all 500ms ease;
}
.blog-grid .link a:hover{
  background: #71b100;
  color: #ffffff;
}
.sidebar-page-container{
  padding: 148px 0px 100px 0px;
}
.sidebar-page-container .default-blog-content .news-content .lower-content:before{
  display: none;
}
.sidebar-page-container .default-blog-content .news-content{
  position: relative;
  margin-bottom: 40px;
  border-bottom: 1px dashed #e0e0e0;
}
.sidebar-page-container .default-blog-content .news-content .lower-content .text{
  font-size: 14px;
}
.sidebar-page-container .default-blog-content .news-content .lower-content h4 a{
  margin-bottom: 6px;
}
.sidebar-page-container .default-blog-content .news-content .lower-content {
  padding: 13px 0px 36px 0px;
}
.blog-sidebar .sidebar-search{
  margin-bottom: 62px;
}
.blog-sidebar .sidebar-search .form-group{
  position: relative;
}
.blog-sidebar .sidebar-search .form-group input[type='search']{
  position: relative;
  width: 100%;
  height: 52px;
  font-size: 12px;
  font-weight: 400;
  border: 2px solid #f5f5f5;
  padding: 10px 65px 10px 15px;
  transition: all 500ms ease;
}
.blog-sidebar .sidebar-search .form-group input[type='search']:focus{
  border: 2px solid #71b100;
}
.blog-sidebar .sidebar-search .form-group button{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 52px;
  width: 55px;
  line-height: 52px;
  text-align: center;
  color: #ffffff;
  background: #71b100;
  font-size: 15px;
  cursor: pointer;
}
.blog-sidebar .sidebar-title{
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 3px;
}
.blog-sidebar .sidebar-title:before{
  position: absolute;
  content: '';
  background: #71b100;
  width: 84px;
  height: 1px;
  left: 0px;
  bottom: 0px;
}
.blog-sidebar .sidebar-categories .list li{
  position: relative;
  display: block;
}
.blog-sidebar .sidebar-categories .list li a:before{
  position: absolute;
  content: "\f0da";
  font-family: 'FontAwesome';
  font-size: 16px;
  color: #888888;
  left: 0px;
  top: 1px;
  transition: all 500ms ease;
}
.blog-sidebar .sidebar-categories .list li a:hover:before{
  color: #71b100;
}
.blog-sidebar .sidebar-categories .list li a{
  position: relative;
  display: inline-block;
  padding: 0px 0px 0px 22px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.blog-sidebar .sidebar-categories{
  margin-bottom: 40px;
}
.blog-sidebar .sidebar-post .single-post{
  position: relative;
  padding: 14px 0px 0px 119px;
  margin-bottom: 34px;
}
.blog-sidebar .sidebar-post .single-post .img-box{
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0px;
  width: 98px;
  height: 70px;
}
.blog-sidebar .sidebar-post .single-post .img-box img{
  width: 100%;
  transition: all 500ms ease;
  transform: scale(1.0);
}
.blog-sidebar .sidebar-post .single-post:hover .img-box img{
  transform: scale(1.1);
}
.blog-sidebar .sidebar-post .single-post .text a{
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.blog-sidebar .sidebar-post .sidebar-title{
  margin-bottom: 45px;
}
.blog-sidebar .sidebar-post{
  margin-bottom: 57px;
}
.blog-sidebar .sidebar-tag .tag-list{
  margin: 0px -5px;
}
.blog-sidebar .sidebar-tag .tag-list li{
  position: relative;
  display: inline-block;
  margin: 0px 5px;
  margin-bottom: 10px;
  float: left;
}
.blog-sidebar .sidebar-tag .tag-list li a{
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 21px 3px 22px;
  border: 1px solid #f7f7f7;
}
.blog-sidebar .sidebar-tag .tag-list li a:hover{
  background: #f7f7f7;
}
.blog-sidebar .sidebar-tag .sidebar-title{
  margin-bottom: 33px;
}
.blog-single .blog-single-content .blog-content .img-box img{
  width: 100%;
}
.blog-single .blog-single-content .blog-content .img-box{
  margin-bottom: 14px;
}
.blog-single .blog-single-content .blog-content .meta-content{
  margin-bottom: 9px;
}
.blog-single .blog-single-content .blog-content .meta-content li{
  position: relative;
  display: inline-block;
  font-weight: 400;
  margin-right: 20px;
}
.blog-single .blog-single-content .blog-content .meta-content li span{
  color: #71b100;
}
.blog-single .blog-single-content .blog-content h4{
  margin-bottom: 6px;
}
.blog-single .blog-single-content .blog-content blockquote{
  position: relative;
  background: #f1f1f1;
  font-style: italic;
  padding: 22px 15px 21px 33px;
  margin: 15px 0px 14px 0px;
  border-left: 2px solid #e5e5e5;
}
.blog-single .blog-single-content .blog-content .text{
  font-size: 14px;
}
.blog-single .blog-single-content .blog-content{
  margin-bottom: 48px;
}
.blog-single-content .post-share{
  position: relative;
  display: block;
  padding: 5px 0px 5px 0px;
  margin: 47px 0px 44px 0px;
  border-bottom: 1px solid #e6e6e6;
}
.blog-single-content .post-share h4{
  display: inline-block;
  margin-top: 7px;
}
.blog-single-content .post-share .post-social{
  position: relative;
  display: inline-block;
  float: right;
}
.blog-single-content .post-share .post-social li{
  display: inline-block;
  margin-right: 10px;
}
.blog-single-content .post-share .post-social li a{
  position: relative;
  display: inline-block;
  font-size: 18px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #222222;
  background: #f7f7f7;
  text-align: center;
}
.blog-single-content .post-share .post-social li a:hover{
  background: #71b100;
  color: #ffffff;
}
.blog-single .blog-single-content .comment-area{
  margin-bottom: 43px;
}
.blog-single .blog-single-content .comment-area .single-comment{
  position: relative;
  padding: 12px 0px 0px 120px;
}
.blog-single .blog-single-content .comment-area .single-comment .thumb-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 101px;
  height: 96px;
  border-radius: 5px;
}
.blog-single .blog-single-content .comment-area .single-comment .thumb-box img{
  width: 100%;
}
.blog-single .blog-single-content .comment-area .single-comment .replay{
  position: relative;
  display: inline-block;
  margin-top: -7px;
  float: right;
}
.blog-single .blog-single-content .comment-area .single-comment .replay a{
  position: relative;
  display: inline-block;
  font-size: 12px;
  text-transform: lowercase;
  color: #ffffff;
  background: #6a6a6a;
  padding: 1px 10px 2px 9px;
}
.blog-single .blog-single-content .comment-area .single-comment .replay a:hover{
  background: #71b100;
}
.blog-single .blog-single-content .comment-area .single-comment .admin{
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  font-weight: 600;
}
.blog-single .blog-single-content .comment-area .single-comment .comment-time{
  position: relative;
  font-size: 13px;
  font-weight: 400;
  color: #222222;
  margin-top: -4px;
  margin-bottom: 9px;
}
.blog-single .blog-single-content .comment-area .single-comment .text{
  line-height: 20px;
}
.blog-single .blog-single-content .comment-form .title{
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #efefef;
}
.blog-single .blog-single-content .comment-form .form-group input[type='text'],
.blog-single .blog-single-content .comment-form .form-group input[type='email'],
.blog-single .blog-single-content .comment-form .form-group textarea{
  position: relative;
  width: 100%;
  height: 33px;
  background: #f4f4f4;
  border: 1px solid #f4f4f4;
  padding: 5px 15px 5px 15px;
  margin-bottom: 30px;
  transition: all 500ms ease;
}
.blog-single .blog-single-content .comment-form .form-group textarea{
  height: 160px;
  resize: none;
}
.blog-single .blog-single-content .comment-form .form-group input[type='text']:focus,
.blog-single .blog-single-content .comment-form .form-group input[type='email']:focus,
.blog-single .blog-single-content .comment-form .form-group textarea:focus{
  border: 1px solid #71b100;
}


/*** 

====================================================================
                        Contact-Page
====================================================================

***/


.google-map-area {
  position: relative;
}
#contact-google-map {
  height: 630px;
  width: 100%;
}

/** social-area **/


.social-area{
  position: relative;
  background: #ffffff;
  padding: 68px 0px 64px 0px;
  box-shadow: 0 3px 2px #f7f7f7;
}
.social-area .social-list li{
  position: relative;
  display: inline-block;
  width: 24%;
}
.social-area .social-list li a{
  position: relative;
  display: inline-block;
  font-size: 50px;
  line-height: 50px;
  color: #71b100;
}
.social-area .social-list li a:hover{
  color: #222222;
}
.contact-section .contact-info .title{
  margin-bottom: 23px;
}
.contact-section .contact-info .single-item{
  position: relative;
  padding: 7px 0px 0px 59px;
  margin-bottom: 48px;
}
.contact-section .contact-info .single-item .icon-box{
  position: absolute;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background: #71b100;
  left: 0px;
  top: 0px;
  box-shadow: 0 5px 5px 0px rgba(113, 177, 0, 0.40);
}
.contact-section .contact-info .single-item .text{
  font-size: 14px;
  font-weight: 500;
}
.contact-section .contact-info .single-item .icon-box i:before{
  font-size: 20px;
  color: #ffffff;
}
.contact-section .contact-form-area .default-form input[type='text'],
.contact-section .contact-form-area .default-form input[type='email'],
.contact-section .contact-form-area .default-form textarea,
.contact-section .contact-form-area .default-form select{
  position: relative;
  width: 100%;
  height: 35px;
  background: #f7f7f7;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #888888;
  padding: 5px 15px;
  margin-bottom: 22px;
  border: 1px solid #f7f7f7;
  transition: all 500ms ease;
}
.contact-section .contact-form-area .default-form select{
  cursor: pointer;
}
.contact-section .contact-form-area .default-form textarea{
  height: 121px;
  border: 1px solid #d1d1d1;
  resize: none;
  background: transparent;
  margin-bottom: 19px;
}
.contact-section .contact-form-area .default-form input[type='text']:focus,
.contact-section .contact-form-area .default-form input[type='email']:focus,
.contact-section .contact-form-area .default-form textarea:focus,
.contact-section .contact-form-area .default-form select:focus{
  border: 1px solid #71b100;
}
.contact-section .contact-form-area .title h4{
  margin-bottom: 17px;
}
.contact-section .contact-form-area .text{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 36px;
}
.contact-section .contact-form-area .theme-btn{
  padding: 1px 25px 1px 26px;
  font-size: 12px;
  border-radius: 3px;
  text-transform: uppercase;
}